

header
{
	position: relative;
	height: 5rem;
	background-color: aqua;
	display: -webkit-flex;
}
.logo
{
	
	
	
	
	height: 5rem;
	width: 10rem;
	
}
.tipsBox
{
	float: left;
	
	background-color: aqua;
	display: -webkit-flex;
	justify-content: center;
	flex: 1;
		align-items: center;
	
	
}
.name
{
	font-size: 2em;
	flex: 1;
	
	text-align: center;
	

}
.tips
{
	flex: 3;
	font-size: 1.3rem;
	
	color: gray;
	font-family: "微软雅黑";
}

.logo img
{
	display: block;
	width: 100%;
	height: 100%;
}


.scrollbox
{
	     width: 100%; 
	     height: 300px;
	    margin: 0 auto;      
	        
	    position: relative;      
	    overflow: hidden;
}


.scrollbox ul{      
	position:absolute;      
	left:0;      
	top:0;      
	overflow: hidden;      
	 
	}



 .scrollbox ul li{      
 	float: left;      
	width: 25%; 	     
 	height: 300px;      
 	list-style: none;    
 	}
 	

.li0
{
	
	height: 100%;
	background-color:#00FFFF ;
}

.li1
{
	
	height: 100%;
	background-color:#3B7796 ;
}

.li2
{
	
	height: 100%;
	background-color:aliceblue ;
}

.li3
{
	
	height: 100%;
	background-color: blueviolet;
}

.li4
{
	
	height: 100%;
	background-color:chartreuse;
}
.li5
{
	
	height: 100%;
	background-color:cornflowerblue ;
}
.btnBox
{
	width: 100px;
	margin: 10px auto;
}
.textBox h3
{
	font-size: 2rem;
	text-align: center;
	margin-top: 50px;
	margin-left: 2rem;
}

.textBox p
{
	font-size: 1.5rem;
	text-align: center;
	margin-top: 50px;
	margin-left: 2rem;
}

.mybutton
{
	font-size: 2em;
	padding: 30px 0;
	width: 80%;
	margin: 20px auto;
	background-color:#00BFFF;
	color: #fff;
	
	text-align: center;
	margin-top: 50px;
	display: block;
	border: 0px solid #FFFFFF;
	border-radius: 4px;
}
.listBox
{
	padding: 40px 30px;
	
	background-color: gainsboro;
}
.listBox h2
{
	font-size: 1.7rem;
	text-align: center;
	margin-left: 2rem;
}
.listBox .title_p

{
	font-size: 1.5rem;
	margin-top: 20px;
	text-align: center;
	line-height: 1.5rem;
	margin-left: 2rem;
}
.listBox li
{
	background-color: #fff;
	padding: 0px 30px;
	margin: 20px 0px;
	height: 12rem;
	display: flex;
	align-items: center;
	

}
.list_logo 
{
	
<<<<<<< HEAD
		width: 10rem;
	padding: 1rem;
	display: -webkit-flex;
	align-items: center;
		height: 10rem;
=======
		
	width: 10rem;
	height: 10rem;
>>>>>>> origin/master170726
	
}
.list_logo img
{
	

<<<<<<< HEAD
		
		width: 10rem;
	
		height: 10rem;
	
=======
	width: 10rem;
	height: 10rem;
>>>>>>> origin/master170726
	
	
}
.list_content
{
	flex: 6;
	
	margin-left: 1rem;
	margin-right: 1rem;
	display: -webkit-flex;
	flex-direction: column;
	
	justify-content: center;
	
}
.list_content li
{
	display: -webkit-flex;
}

.list_content h3
{
	font-size: 2rem;
	
	margin-left: 2rem;
	
}
.list_content .content
{
	flex: 3;
	font-size: 1.5rem;
	
	
	margin-top: 0.5rem;
	
	
	
	
}

.list_jiantou

{
	flex: 1;
	margin:auto 10px;
	

}
.list_jiantou img
{
	height: 4rem;
	width: 2rem;
}
.findBox h3
{
	text-align: center;
<<<<<<< HEAD
	margin-top: 30px;
=======
	margin: 1.5rem auto;
	margin-left: 2rem;
>>>>>>> origin/master170726
	font-size: 2rem;
}
.findBox p
{
<<<<<<< HEAD
	margin-top: 2rem;
	text-align: center;
	font-size: 1.5rem;
=======
	margin: 1.5rem auto;
	text-align: center;
	font-size: 1.5rem;
	margin-left: 2rem;
>>>>>>> origin/master170726
}
.find_content_bg img
{
	
	display: block;
	margin: 20px auto;
}
.tag_list
{
	margin: 30px auto;
<<<<<<< HEAD
	height: 80px;
	width: 70%;
=======
	height: 4rem;
	width: 80%;
>>>>>>> origin/master170726
	
	

	border: solid 1px gray;
	border-radius: 3px;
	
	
	background-color: #fff;
}
.tag_list div
{
	width: 33%;
<<<<<<< HEAD
	height: 80px;
	float: left;
	line-height: 80px;
=======
	height: 4rem;
	float: left;
	line-height: 4rem;
>>>>>>> origin/master170726
	text-align: center;
	
	font-size: 1.5rem;
	color: grey;
	
	
}
.tag_list .tag_second
{
	border-left: solid 1px #aaaaaa;
	border-right: solid 1px #aaaaaa;
}
.tuiguangBox h3
{
	text-align: center;
	font-size: 2em;
	margin-left: 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.tuiguangBox p
{
	text-align: center;
<<<<<<< HEAD
	margin-top: 20px;
	margin-bottom: 50px;
=======
	margin-bottom: 1.5rem ;
	margin-top: 1.5rem;
	margin-left:2rem;
	
>>>>>>> origin/master170726
	font-size: 1.5em;
}
.tuiguangbgBox img
{
	display: block;
	width: 600px;
	height: 1000px;
	margin: 0 auto;
	
}
.adListBox
{
		height: 300px;
	  position: relative;      
	  overflow: hidden;
	  margin: 0 auto;
	  width: 600px;
}
.adListBox ul
{
	position:absolute;      
	left:0;      
	top:0;    
	width: 3000px;  
	overflow: hidden;     
}
.adListBox li
{
	
		width: 600px;
	 	list-style: none; 
	 	float: left;      
}
.guideBox 
{
	width: 80%;
	height: 20px;
	margin: 20px auto;
	display: flex;
	
	
}
.guideBox span
{
	flex: 1;
	background-color: #808080;
	margin: 0 10px;
	
}
.guideBox td
{
	width: 20%;
	height: 100%;
	display: block;
	background-color: #808080;
}

.connetBox h3

{
	margin-left: 2rem;
	margin-bottom: 2rem;
	margin-top: 2rem;
	font-size: 2rem;
}
.connetBox p

{
	margin-left: 2rem;
	margin-bottom: 2rem;
	margin-top: 2rem;
	font-size: 1.5rem;
}
.connetBox div
{
	border: solid 1px #eee;
	margin: 1rem 4rem;
	height: 5rem;
	display: -webkit-flex;
	align-items: center;
	border: 1px solid #888;
}
.connetBox div img
{
	height: 4rem;
	display: block;
	
	width: 4rem;
	margin-left: 2rem;

}
.connetBox div input
{
	border: none;
	margin-left: 2rem;
	font-size: 2rem;
	height: 3rem;
	flex: 1;
	outline: none;
}
footer
{
	font-size: 1.2rem;
	background-color: black;
	color: #fff;
	text-align: center;
	
	height: 5rem;
}
footer p
{
	
	line-height: 5rem;
}
.top
{
	width: 5rem;
	height: 5rem;
	text-align: center;
	line-height: 5rem;
	background-color: #6495ED;
	position: fixed;
   	right: 2rem;
   	bottom: 5rem;
}
